div.fitting {
    width: 960px;
    margin: auto;
}
body {
    background-color: yellow;
}
header {
    background-color: red;
}
main {
    background-color: green;
}
footer {
    background-color: black;
}
