body {
    margin: 0;
    padding: 30px;
}
form {
    display: grid;
    grid-template-columns: 10% 39% 6% 45%;
    grid-template-rows: 15% 10% 10% 10% 10% 10% 10% 45% 10%;
}
#span1to5 {
    grid-column: 1/5;
}
.span2to5  {
    grid-column: 2/5;
}
.span2to4 {
    grid-column: 2/4;
}
#span4to5 {
    grid-column: 4/5;
}
.textalign {
    vertical-align: top;
}
#voornaam {
    width: 200px;
}
#tussenvoegsel {
    width: 200px;
}
#achternaam {
    width: 200px;
}